In [2]:
#max number and min number in a list
list=[1,55,23,75,34,54,86,45]
list.sort()
print('max number is:',max(list))
print('min number is:',min(list))

max number is: 86
min number is: 1

In [10]:
# fibonaicc series
n1=0
n2=1
sum=0
num=int(input('enter number: '))
if num<=0:
  print('not valid')
else:
  for i in range(0,num):
    print(sum,end="")
    n1=n2
    n2=sum
    sum=n1+n2

enter number: 4
0112

In [22]:
#middle element
a=[1,55,23,75,34,54,86]
mid_ele=int(len(a)/2)
print(mid_ele)
print(a[mid_ele])

3
75

In [25]:
#list to string
def convert(s):
  str=""
  return(str.join(s))
s=['i','am','sneha']
print(convert(s))
print(type(convert(s)))

iamsneha
<class 'str'>

In [66]:
#remove spaces
def remove(s):
  return s.replace(" ","")
s='   i am from madikonda'
print(remove(s))

iamfrommadikonda

In [68]:
#reverse string
def str(x):
  return x[::-1]
x='my name is sneha'
print(str(x))

ahens si eman ym