#PYTHON DICTIONARY

##CREATING DICTIONARY

In [16]:
profile={'name':'sneha','age':21,'gender':'female','qualification':'btech'}
grocery={'oil':'sunflower','soap':'santoor','dal':'moondal','biscuit':'monaco'}
address={'village':'madikonda','mandal':'kazipet','district':'warangal'}
fruits={'a':'apple','b':'banana','c':'cucumber','d':'dragon_fruit'}
digits={'_1':'one','_2':'too','_3':'three'}
print(profile)
print(grocery)
print(address)
print(fruits)
print(digits)

{'name': 'sneha', 'age': 21, 'gender': 'female', 'qualification': 'btech'}
{'oil': 'sunflower', 'soap': 'santoor', 'dal': 'moondal', 'biscuit': 'monaco'}
{'village': 'madikonda', 'mandal': 'kazipet', 'district': 'warangal'}
{'a': 'apple', 'b': 'banana', 'c': 'cucumber', 'd': 'dragon_fruit'}
{'_1': 'one', '_2': 'too', '_3': 'three'}

##accessing values

In [17]:
print(profile['name'])       #accessing value
print(grocery['oil'])
print(address['mandal'])
print(fruits['a'])
print(digits['_2'])

sneha
sunflower
kazipet
apple
too

##modifing & adding entries

In [18]:
profile['age']=22    #modifing entries
grocery['oil']='golddrop'
address['village']='kadipikonda'
fruits['c']='coconut'
digits['_2']='two'
print(profile)
print(grocery)
print(address)
print(fruits)
print(digits)
print()
print('........')
print()
profile['grade']='A'   #adding entries
grocery['paste']='meswak'
address['state']='telangana'
fruits['m']='mango'
digits['_4']='four'
print(profile)
print(grocery)
print(address)
print(fruits)
print(digits)

{'name': 'sneha', 'age': 22, 'gender': 'female', 'qualification': 'btech'}
{'oil': 'golddrop', 'soap': 'santoor', 'dal': 'moondal', 'biscuit': 'monaco'}
{'village': 'kadipikonda', 'mandal': 'kazipet', 'district': 'warangal'}
{'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragon_fruit'}
{'_1': 'one', '_2': 'two', '_3': 'three'}

........

{'name': 'sneha', 'age': 22, 'gender': 'female', 'qualification': 'btech', 'grade': 'A'}
{'oil': 'golddrop', 'soap': 'santoor', 'dal': 'moondal', 'biscuit': 'monaco', 'paste': 'meswak'}
{'village': 'kadipikonda', 'mandal': 'kazipet', 'district': 'warangal', 'state': 'telangana'}
{'a': 'apple', 'b': 'banana', 'c': 'coconut', 'd': 'dragon_fruit', 'm': 'mango'}
{'_1': 'one', '_2': 'two', '_3': 'three', '_4': 'four'}

##dictionary methods

In [19]:
#get()
a=profile.get('qualification')
b=grocery.get('oil','not defined')
c=address.get('state')                 #returns value of a key
d=fruits.get('c')
e=digits.get('_3')
print(a)
print(b)
print(c)
print(d)
print(e)

btech
golddrop
telangana
coconut
three

In [20]:
#keys
a=profile.keys()
b=grocery.keys()
c=address.keys()                 #returns view of all keys
d=fruits.keys()
e=digits.keys()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_keys(['name', 'age', 'gender', 'qualification', 'grade'])
dict_keys(['oil', 'soap', 'dal', 'biscuit', 'paste'])
dict_keys(['village', 'mandal', 'district', 'state'])
dict_keys(['a', 'b', 'c', 'd', 'm'])
dict_keys(['_1', '_2', '_3', '_4'])

In [21]:
#value()
a=profile.values()
b=grocery.values()
c=address.values()                 #returns all values
d=fruits.values()
e=digits.values()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_values(['sneha', 22, 'female', 'btech', 'A'])
dict_values(['golddrop', 'santoor', 'moondal', 'monaco', 'meswak'])
dict_values(['kadipikonda', 'kazipet', 'warangal', 'telangana'])
dict_values(['apple', 'banana', 'coconut', 'dragon_fruit', 'mango'])
dict_values(['one', 'two', 'three', 'four'])

In [22]:
#items()
a=profile.items()
b=grocery.items()
c=address.items()                 #returns all items
d=fruits.items()
e=digits.items()
print(a)
print(b)
print(c)
print(d)
print(e)

dict_items([('name', 'sneha'), ('age', 22), ('gender', 'female'), ('qualification', 'btech'), ('grade', 'A')])
dict_items([('oil', 'golddrop'), ('soap', 'santoor'), ('dal', 'moondal'), ('biscuit', 'monaco'), ('paste', 'meswak')])
dict_items([('village', 'kadipikonda'), ('mandal', 'kazipet'), ('district', 'warangal'), ('state', 'telangana')])
dict_items([('a', 'apple'), ('b', 'banana'), ('c', 'coconut'), ('d', 'dragon_fruit'), ('m', 'mango')])
dict_items([('_1', 'one'), ('_2', 'two'), ('_3', 'three'), ('_4', 'four')])

In [23]:
#pop()
p=profile.pop('gender')
q=grocery.pop('dal')
r=address.pop('district')                 #remove and returns the value
s=fruits.pop('d')
t=digits.pop('_3')
print(p)
print(q)
print(r)
print(s)
print(t)

female
moondal
warangal
dragon_fruit
three

In [25]:
#pop item()
a=profile.popitem()
b=grocery.popitem()
c=address.popitem()                 #remove and returns the last item
d=fruits.popitem()
e=digits.popitem()
print(a)
print(b)
print(c)
print(d)
print(e)

('qualification', 'btech')
('paste', 'meswak')
('state', 'telangana')
('m', 'mango')
('_4', 'four')

In [37]:
#update()
_profile={'age':23,'grade':'A+'}
_grocery={'paste':'sensodyne','dal':'turdal'}
_address={'village':'kondapur','mandal':'hitechcity','disrict':'hyd'}
_fruits={'a':'avacado','b':'berry'}
_digits={'_1':1,'_2':2}
profile.update(_profile)           #update with iterable item
grocery.update(_grocery)
address.update(_address)
fruits.update(_fruits)
digits.update(_digits)
print(profile)
print(grocery)
print(address)
print(fruits)
print(digits)

{'name': 'sneha', 'age': 23, 'grade': 'A+'}
{'oil': 'golddrop', 'soap': 'santoor', 'biscuit': 'monaco', 'paste': 'sensodyne', 'dal': 'turdal'}
{'village': 'kondapur', 'mandal': 'hitechcity', 'disrict': 'hyd'}
{'a': 'avacado', 'b': 'berry', 'c': 'coconut'}
{'_1': 1, '_2': 2}

#PYTHON SETS

##creating set

In [39]:
vegetables={'potato','tamato','brinjal','beans'}
fruits={'banana','apple','mango','grapes'}
names={'sneha','swathi','swetha','lavanya','akhila','praharsha'}
digits=set([1,2,3,4,5,6])
places={'hyderabad','warangal','vizag'}
print(vegetables)
print(fruits)
print(names)
print(digits)
print(places)

{'tamato', 'brinjal', 'potato', 'beans'}
{'banana', 'mango', 'grapes', 'apple'}
{'praharsha', 'swetha', 'lavanya', 'sneha', 'swathi', 'akhila'}
{1, 2, 3, 4, 5, 6}
{'warangal', 'vizag', 'hyderabad'}

##add & update set items in python

In [42]:
#add an element
vegetables.add('ladies_finger')
fruits.add('avacado')
names.add('sindhu')
digits.add(7)
places.add('araku')
print(vegetables)
print(fruits)
print(names)
print(digits)
print(places)

{'ladies_finger', 'potato', 'beans', 'tamato', 'brinjal'}
{'banana', 'mango', 'avacado', 'grapes', 'apple'}
{'praharsha', 'swetha', 'lavanya', 'sneha', 'sindhu', 'swathi', 'akhila'}
{1, 2, 3, 4, 5, 6, 7}
{'warangal', 'vizag', 'araku', 'hyderabad'}

In [51]:
#update()
vegetables.update(fruits)
fruits.update(digits)
names.update(places)
digits.update(names)
places.update(digits)
print(vegetables)
print(fruits)
print(names)
print(digits)
print(places)

{'banana', 'mango', 'grapes', 'apple', 'potato', 'beans', 'tamato', 'brinjal'}
{'banana', 'mango', 1, 2, 3, 4, 5, 6, 'grapes', 'apple'}
{'warangal', 'swetha', 'lavanya', 'vizag', 'swathi', 'praharsha', 'hyderabad', 'sneha', 'akhila'}
{'warangal', 1, 2, 3, 4, 5, 6, 'swetha', 'lavanya', 'vizag', 'swathi', 'praharsha', 'hyderabad', 'sneha', 'akhila'}
{1, 2, 3, 4, 5, 6, 'swetha', 'lavanya', 'vizag', 'hyderabad', 'sneha', 'akhila', 'warangal', 'swathi', 'praharsha'}

##remove & length of an elemt

In [55]:
#remove()/discard()
vegetables.discard('potato')
fruits.remove('grapes')
names.discard('sindhu')
digits.remove(4)
places.remove('vizag')
print(vegetables)
print(fruits)
print(names)
print(digits)
print(places)

{'banana', 'mango', 'grapes', 'apple', 'beans', 'tamato', 'brinjal'}
{'banana', 'mango', 1, 2, 3, 4, 5, 6, 'apple'}
{'warangal', 'swetha', 'lavanya', 'vizag', 'swathi', 'praharsha', 'hyderabad', 'akhila'}
{'warangal', 1, 2, 3, 5, 6, 'swetha', 'lavanya', 'vizag', 'swathi', 'praharsha', 'hyderabad', 'sneha', 'akhila'}
{1, 2, 3, 4, 5, 6, 'swetha', 'lavanya', 'hyderabad', 'sneha', 'akhila', 'warangal', 'swathi', 'praharsha'}

In [58]:
#length of an element
print(len(vegetables))
print(len(fruits))
print(len(digits))
print(len(names))
print(len(places))

7
9
14
8
14

##python set opeartions

In [61]:
#union of two sets
a={1,2,3,4,5,6}
b={2,4,6,8}
c={'sneha','sindhu','latha','ravinder','sneha','sindhu'}
d={'sneha','swetha','sindhu','swathi'}
e={8,7,6,5,4,3}
print('union using|:',a|d)
print('union using union():',b.union(c))
print('union using|:',c|e)
print('union using|:',d|a)
print('union using|:',e|c)

union using|: {1, 2, 3, 4, 5, 6, 'swetha', 'swathi', 'sneha', 'sindhu'}
union using union(): {2, 4, 6, 8, 'latha', 'sneha', 'sindhu', 'ravinder'}
union using|: {3, 4, 5, 6, 7, 8, 'latha', 'sneha', 'sindhu', 'ravinder'}
union using|: {1, 2, 3, 4, 5, 6, 'swetha', 'swathi', 'sneha', 'sindhu'}
union using|: {3, 4, 5, 6, 7, 8, 'latha', 'sneha', 'sindhu', 'ravinder'}

In [65]:
#intersection
print('intersection using &:',a&b)
print('intersection using &:',b&c)
print('intersection using &:',c&a)
print('intersection using &:',d&e)
print('intersection using union():',e.union(b))

intersection using &: {2, 4, 6}
intersection using &: set()
intersection using &: set()
intersection using &: set()
intersection using union(): {2, 3, 4, 5, 6, 7, 8}

In [67]:
#difference between two sets
print('difference using -:',a-b)
print('difference using -:',b-e)
print('difference using -:',c-a)
print('difference using -:',d-c)
print('difference using difference():',e.difference(b))

difference using -: {1, 3, 5}
difference using -: {2}
difference using -: {'latha', 'sneha', 'sindhu', 'ravinder'}
difference using -: {'swathi', 'swetha'}
difference using difference(): {3, 5, 7}

In [69]:
#set symmetric difference
print('using^:',a^b)
print('using^:',b^e)
print('using^:',c^d)
print('using^:',d^b)
print('using symmetric_difference',e.symmetric_difference(b))

using^: {1, 3, 5, 8}
using^: {2, 3, 5, 7}
using^: {'swetha', 'latha', 'swathi', 'ravinder'}
using^: {2, 4, 6, 'swetha', 8, 'swathi', 'sneha', 'sindhu'}
using symmetric_difference {2, 3, 5, 7}