#PYTHON_FORMAT_STRINGS WITH STASTICALLY AND DYNAMICALLY

###satistically

In [7]:
a="home"
place="hyderabad"
_1=2
_2=4
_3=1475
p_f_s="python_format_strings"
_4=491.6
#%_operant(%)
f_s1='iam coming to %s in %d days'%(a,_1)
f_s2='%s are %d types '%(p_f_s,_2)
f_s3='total bill is %d each one have to pay %f'%(_3,_4)
print(f_s1)
print(f_s2)
print(f_s3)

iam coming to home in 2 days
python_format_strings are 4 types
total bill is 1475 each one have to pay 491.600000

In [15]:
#format method{}
f_m='welcome to {}.it is nearly {} years to see you'.format(place,_2)
f_m1='iam coming to {} in {} days'.format(a,_1)
f_m2='{} are {} types '.format(p_f_s,_2)
print(f_m)
print(f_m1)
print(f_m2)

welcome to hyderabad.it is nearly 4 years to see you
iam coming to home in 2 days
python_format_strings are 4 types

In [24]:
#string interpolation(f_strings)

f_strings=f"welcome to {place}.it is nearly {_2} years to see you."
f_strings1=f'iam coming to {a} in {_1} days'
f_strings2=f'{p_f_s} are {_2} types '
print(f_strings)
print(f_strings1)
print(f_strings2)

welcome to hyderabad.it is nearly 4 years to see you.
iam coming to home in 2 days
python_format_strings are 4 types

###dynamically

In [53]:

name=input("enter your name: ")
age=int(input("age: "))
gender=input("gender: ")
study=input("qualification: ")
print(name)
print(age)
print(gender)
print(study)

enter your name: sneha
age: 22
gender: female
qualification: btech
sneha
22
female
btech

In [57]:
#%operant
f_s3='my name is %s'%(name)
f_s4="iam %d years old"%(age)
f_s5='i pursued  my %s from ku'%(study)
print(f_s3)
print(f_s4)
print(f_s5)

my name is sneha
iam 22 years old
i pursued  my btech from ku

In [58]:
#format method{}

f_m3='my name is {}'.format(name)
f_m4="iam {} years old".format(age)
f_m5='i pursued  my {} from ku'.format(study)
print(f_m3)
print(f_m4)
print(f_m5)

my name is sneha
iam 22 years old
i pursued  my btech from ku

In [60]:
f_string3=f'my name is {name}'
f_string4=f"iam {age} years old"
f_string5=f'i pursued  my {study} from ku'
print(f_string3)
print(f_string4)
print(f_string5)

my name is sneha
iam 22 years old
i pursued  my btech from ku