#LIST DATATYPE

##python list

In [ ]:
a=[1,2,3,4,5]
b=[5,6,7,8,9] #mutable
print(a+b) #prints both elements present in variable

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
c=['apple','orange','grapes']
d=[22,33,44,55,66]
x=c+d
print(x)

['apple', 'orange', 'grapes', 22, 33, 44, 55, 66]

In [ ]:
p=['ravinder','latha','sneha','sindhu']
q=['ramesh','nirmala','anusha','arun']
r=['swetha','akhila','swathi','praharsha','lavanya']
s=p+q+r
print(s)
print(type(s))

['ravinder', 'latha', 'sneha', 'sindhu', 'ramesh', 'nirmala', 'anusha', 'arun', 'swetha', 'akhila', 'swathi', 'praharsha', 'lavanya']
<class 'list'>

In [ ]:
u=[12,23,34,45,56]
v=['w','a','r','a','n','g','a','l']
w=u+v
print(w)

[12, 23, 34, 45, 56, 'w', 'a', 'r', 'a', 'n', 'g', 'a', 'l']

In [ ]:
fruits=['water melon','papaya','musk melon','pine apple']
vegetables=['mirchi','tomato','potato']
print(fruits)
print(type(vegetables))

['water melon', 'papaya', 'musk melon', 'pine apple']
<class 'list'>

###Access index

In [ ]:
#positive index
a=[9,8,7,6]
b=[5,4,3,2,1]
print(a[3],b[4]) #'+' index starts with '0' right to left
print(b[2])

6 1
3

In [ ]:
c=['telangana','warangal','kazipet','madikonda']
print(c[1])

warangal

In [ ]:
p=[10,29,38,47,56]
q=['k','r','i','s','h','n','a']
print(p[3],p[4])
print(q[0],q[1],q[2],q[3],q[4],q[5],q[6])

47 56
k r i s h n a

In [ ]:
Languages_1=['python','java','c','c++']
Languages_2=['telugu','hindi','english']
print(Languages_1[3])
print(type(Languages_2))

c++
<class 'list'>

In [ ]:
#negative index
a=[7,6,5,4,3,2,1,0]
print(a[-5]) #satrts with -1 left to right
print(type(a))

4
<class 'list'>

In [ ]:
veg=['fruits','vegetables']
non_veg=['chicken','meat','eggs']
print(veg[-2],non_veg[-3])

fruits chicken

In [ ]:
name=['s','n','e','h','a']
mobile=[8,3,2,8,2,3,9,9,5,4]
print(name[-3])
print(mobile[-9])

e
3

In [ ]:
_108=['a','m','b','u','l','a','n','c','e']
print(_108[-7])
print(type(_108))

b
<class 'list'>

###Slicing of alist

In [ ]:
ph=[7,3,8,6,3,9,2,3,3,0]
print(ph[0:10]) #starts value:end value.....n-1 is end value and 0 is starting value

[7, 3, 8, 6, 3, 9, 2, 3, 3, 0]

In [ ]:
domain=['python','excel','sql','power_bi','tablue']
print(domain[1:])

['excel', 'sql', 'power_bi', 'tablue']

In [ ]:
colors=['red','pink','black','white','purple','green','yellow']
print(colors[:5])

['red', 'pink', 'black', 'white', 'purple']

In [ ]:
_abc=['vivo','samsung','iphone','realme','redmi']
print(_abc[:])

['vivo', 'samsung', 'iphone', 'realme', 'redmi']

In [ ]:
_numbers=[0,1,2,3,4,5,6,7,8,9]
print(_numbers[5:9])
print(type(_numbers))

[5, 6, 7, 8]
<class 'list'>

###List operations

In [ ]:
#concatenation
a=[3,5,7,88]
b=[2,68,5,8,4]
c=a+b
print(c) #combonation of 2 lists @union

[3, 5, 7, 88, 2, 68, 5, 8, 4]

In [ ]:
C=['I','N','D','I','A']
D=['W','O','R','L','D']
print(C+D)

['I', 'N', 'D', 'I', 'A', 'W', 'O', 'R', 'L', 'D']

In [ ]:
u=[2,4,6,8]
v=[3,6,9]
w=u+v
print(w)

[2, 4, 6, 8, 3, 6, 9]

In [ ]:
x=[86,96,76,66]
y=[12,13,14,15,16,17]
z=x+y
print(z)
print(type(z))

[86, 96, 76, 66, 12, 13, 14, 15, 16, 17]
<class 'list'>

In [ ]:
#repetition
fruits=['apple','mango','banana']
print(fruits*3)  #repitation of list in n times i.e 3

['apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'apple', 'mango', 'banana']

In [ ]:
_101=['fire_station']
print(_101*7)
print(type(_101))

['fire_station', 'fire_station', 'fire_station', 'fire_station', 'fire_station', 'fire_station', 'fire_station']
<class 'list'>

In [ ]:
x=['s','w','e','t','h','a']
print(x*0)
print(x*4)

[]
['s', 'w', 'e', 't', 'h', 'a', 's', 'w', 'e', 't', 'h', 'a', 's', 'w', 'e', 't', 'h', 'a', 's', 'w', 'e', 't', 'h', 'a']

##Change list items

In [19]:
a=[1,2,3,4]
b=['s','n','e','h','a']
c=[108,'ambulance','helpline']
d=[45,65,'p','h','mobile']
e=['sneha','swetha','akhila','swathi','lavanya']
a[3]=0                                  #change the value of a specific item
b[0]='g'
c[-1]='emergency'
d[-3]=85
e[-1]='potti'
print(a)
print(b)
print(c)
print(d)
print(e)

print()

print('////////////////')

print()

p=[1,2,3,4,5,6,7]
q=['s','n','e','h','a','g','i','t','t','a']
r=[108,'ambulance','helpline']
s=[7,3,8,6,3,9,2,3,3,0,'mobile']
t=['sneha','swetha','akhila','swathi','lavanya']
p[0:6]=[13,12,11,10,9,8]                      #change a range of item values
q[-5:]=['.','r','a','v','i']
r[0:2]=[101,'fire_station']
s[0:10]=[8,3,2,8,2,3,9,9,5,4]
t[:]='friends'
print(p)
print(q)
print(r)
print(s)
print(t)

[1, 2, 3, 0]
['g', 'n', 'e', 'h', 'a']
[108, 'ambulance', 'emergency']
[45, 65, 85, 'h', 'mobile']
['sneha', 'swetha', 'akhila', 'swathi', 'potti']

////////////////

[13, 12, 11, 10, 9, 8, 7]
['s', 'n', 'e', 'h', 'a', '.', 'r', 'a', 'v', 'i']
[101, 'fire_station', 'helpline']
[8, 3, 2, 8, 2, 3, 9, 9, 5, 4, 'mobile']
['f', 'r', 'i', 'e', 'n', 'd', 's']

##List methods

In [21]:
#append()

a=[22,33,44,55,66]
fruits=['apple','banana','mango']
datatypes=['list','tuple','string','integers']
_506142=['m','a','d','i','k','o','n','d','a']
mix=[99,'pine_apple','complex']                   #adds element at the end
a.append(77)
fruits.append('grapes')
datatypes.append('float')
_506142.append('pin_code')
mix.append('g')
print(a)
print(fruits)
print(datatypes)
print(_506142)
print(mix)

[22, 33, 44, 55, 66, 77]
['apple', 'banana', 'mango', 'grapes']
['list', 'tuple', 'string', 'integers', 'float']
['m', 'a', 'd', 'i', 'k', 'o', 'n', 'd', 'a', 'pin_code']
[99, 'pine_apple', 'complex', 'g']

In [25]:
#extend()

a=[22,33,44,55,66]
fruits=['apple','banana','mango','grapes']
datatypes=['list','tuple','string',]
_506142=['k','o','n','d','a']
mix=[99,'apple','complain']
_b=['#','$','%','!']

                #appends elememt for another iterable to the end
a.extend(_b)
fruits.extend(mix)
_506142.extend(a)
datatypes.extend(mix)
mix.extend(fruits)
print(a)
print(fruits)
print(datatypes)
print(_506142)
print(mix)

[22, 33, 44, 55, 66, '#', '$', '%', '!']
['apple', 'banana', 'mango', 'grapes', 99, 'apple', 'complain']
['list', 'tuple', 'string', 99, 'apple', 'complain']
['k', 'o', 'n', 'd', 'a', 22, 33, 44, 55, 66, '#', '$', '%', '!']
[99, 'apple', 'complain', 'apple', 'banana', 'mango', 'grapes', 99, 'apple', 'complain']

In [30]:
#insert()
friends=['sneha','swetha','akhila','swathi']
numbers=[4,5,6,7,8]
_15factors=[1,3,5]
list=[34,'h','45']
event=['mehandi','haldi','muhurtham']
             #inserts an ekement in a specific portion
friends.insert(3,'lavanya')
numbers.insert(0,2)
_15factors.insert(-1,15)
event.insert(-1,'reception')
list.insert(2,40)
print(friends)
print(numbers)
print(_15factors)
print(event)
print(list)

['sneha', 'swetha', 'akhila', 'lavanya', 'swathi']
[2, 4, 5, 6, 7, 8]
[1, 3, 15, 5]
['mehandi', 'haldi', 'reception', 'muhurtham']
[34, 'h', 40, '45']

In [34]:
#remove()

a=[1,2,3,4,3,2,1,3]
c=[44,66,56,22,44,77]
set=['apples','banana','apple','grapes','apple']
language=['m','a','l','a','y','a','l','a','m']
cities=['hyderabad','warangal','hanamkonda','kazipet','warangal']
friends=['sneha','swetha','akhila','swathi','akhila']
a.remove(3)         #removes the first occurence value
language.remove('a')
c.remove(44)
set.remove('apple')
cities.remove('warangal')
friends.remove('akhila')
print(a)
print(c)
print(set)
print(language)
print(cities)
print(friends)

[1, 2, 4, 3, 2, 1, 3]
[66, 56, 22, 44, 77]
['apples', 'banana', 'grapes', 'apple']
['m', 'l', 'a', 'y', 'a', 'l', 'a', 'm']
['hyderabad', 'hanamkonda', 'kazipet', 'warangal']
['sneha', 'swetha', 'swathi', 'akhila']

In [38]:
#pop()

A=[1,2,3,4]
B=['s','n','e','h','a']
C=[108,'ambulance','helpline']
D=[45,65,'p','h','mobile']
E=['sneha','swetha','akhila','swathi','lavanya']
a=A.pop(3)       #removes & returnd the element of an index
b=B.pop(-3)
c=C.pop(-1)
d=D.pop(4)
e=E.pop(1)
print(A)
print(B)
print(C)
print(D)
print(E)

[1, 2, 3]
['s', 'n', 'h', 'a']
[108, 'ambulance']
[45, 65, 'p', 'h']
['sneha', 'akhila', 'swathi', 'lavanya']

In [39]:
#index()

a=[22,33,44,55,66]
fruits=['apple','banana','mango']
datatypes=['list','tuple','string','integers']
_506142=['m','a','d','i','k','o','n','d','a']
mix=[99,'pine_apple','complex']
_1=a.index(33)       #returns the index of a 1st occurance value
_2=fruits.index('mango')
_3=datatypes.index('string')
_4=_506142.index('k')
_5=mix.index(99)
print(_1)
print(_2)
print(_3)
print(_4)
print(_5)

1
2
2
4
0

In [43]:
#count()

a=[22,33,44,55,66]
f=['apple','banana','mango','grapes']
d=['list','tuple','string','list']
_5=['k','o','n','d','a','n','o','n']
m=[99,'apple','complain']
_b=['#','$','%','!','$','#','#']
s=a.count(33)
t=f.count('mango')
u=d.count('list')
v=_5.count('n')
w=m.count(99)
x=_b.count('#')
print(s)
print(t)
print(u)
print(v)
print(w)
print(x)

1
1
2
3
1
3

In [47]:
#sort()

a=[1,2,3,4,3,2,1,3]
c=[44,66,56,22,44,77]
set=['apples','banana','apple','grapes','apple']
language=['m','a','l','a','y','a','l','a','m']
cities=['hyderabad','warangal','hanamkonda','kazipet','warangal']
friends=['sneha','swetha','akhila','swathi','akhila']
a.sort()    #sorts the list in ascending order
c.sort()
set.sort()
language.sort()
cities.sort()
friends.sort()
print(a)
print(c)
print(set)
print(language)
print(cities)
print(friends)

[1, 1, 2, 2, 3, 3, 3, 4]
[22, 44, 44, 56, 66, 77]
['apple', 'apple', 'apples', 'banana', 'grapes']
['a', 'a', 'a', 'a', 'l', 'l', 'm', 'm', 'y']
['hanamkonda', 'hyderabad', 'kazipet', 'warangal', 'warangal']
['akhila', 'akhila', 'sneha', 'swathi', 'swetha']

In [48]:
#reverse()

A=[1,2,3,4]
B=['s','n','e','h','a']
C=[108,'ambulance','helpline']
D=[45,65,'p','h','mobile']
E=['sneha','swetha','akhila','swathi','lavanya']
A.reverse()       #reverse the orer ina list
B.reverse()
C.reverse()
D.reverse()
E.reverse()
print(A)
print(B)
print(C)
print(E)
print(D)

[4, 3, 2, 1]
['a', 'h', 'e', 'n', 's']
['helpline', 'ambulance', 108]
['lavanya', 'swathi', 'akhila', 'swetha', 'sneha']
['mobile', 'h', 'p', 65, 45]