#class

In [4]:
class sneha:
  age=22
  print(sneha)

<class '__main__.sneha'>

#object

In [8]:
object=sneha()
print(object.age)

22

In [14]:
#class and object method

class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def wish(self):
    print('hi!good morning')
person1=person('sneha',22)
person2=person('sindhu',19)
print(f'{person1.name} is {person1.age} years old')
print(f'{person2.name} is {person2.age} years old')
person1.wish()
person2.wish()

sneha is 22 years old
sindhu is 19 years old
hi!good morning
hi!good morning

In [31]:
#string method

class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def __str__(self):
   return f"{self.name} is {self.age} years old"
data=person('sneha',22)
print(data)

sneha is 22 years old

#inheritance

In [42]:
class restuarent:
  def veg(self):
    print('i am a vegetarian')
  def non_veg(self):
    print('i am a non-vegetarian')
#inheritance
class chicken(restuarent):
  def item(self):
    print('chicken biryani')
class panner(restuarent):
  def item(self):
    print('panner tikka')
print('order is:')
item1=panner()
item1.item()
item1.veg()

order is:
panner tikka
i am a vegetarian

#encapsulation

In [78]:
class age():
  def __init__(self,x,y):
    self.__x=x  #private
    self._y=y   #protected
    print(self.__x)
  def output(self):
    print(self._y)
d=age(22,23)
d.output()

22
23

#pohymorphism

In [79]:
class diff():
  def sub(self,x,y):
    print(x-y)
obj=diff()
print(obj.sub(5,8))
print(obj.sub(5.2,1.8))

-3
None
3.4000000000000004
None

#abstraction

In [83]:
from abc import ABC
class collage(ABC):
  def __init__(self,name,age,qualification):
    self.name=name
    self.age=age
    self.qualification=qualification
  def details(self):
    pass
  def person(self):
    print('PROFILE')
class student1(collage):
  def details(self):
   print('name:',self.name);
   print('age:',self.age);
   print('qualification:',self.qualification);
class student2(collage):
    def details(self):
     print('name:',self.name);
     print('age:',self.age);
     print('qualification:',self.qualification);
student=student1('sneha','22','btech')

student.person()
student.details()

PROFILE
name: sneha
age: 22
qualification: btech