#python strings

##string operation

In [6]:
#concatenation

a='my name is sneha'
b='i am from madikonda'
c='i pursued my btech in ku'
d='(6.8)'
e='CGPA'
f=a+','+b
g=c+d+e
h=c+d
i=a+d+e
j=a+"."+c
print(f)
print(g)
print(h)
print(i)
print(j)

my name is sneha,i am from madikonda
i pursued my btech in ku(6.8)CGPA
i pursued my btech in ku(6.8)
my name is sneha(6.8)CGPA
my name is sneha.i pursued my btech in ku

In [19]:
#repitition
a='my name is sneha'
b='i am from madikonda'
c='i pursued my btech in ku'
d='(6.8)'
e='CGPA'
f=a*3
g=b*2
h=c*4
i=a*10
j=a*15
print(f)
print(g)
print(h)
print(i)
print(j)

my name is snehamy name is snehamy name is sneha
i am from madikondai am from madikonda
i pursued my btech in kui pursued my btech in kui pursued my btech in kui pursued my btech in ku
my name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is sneha
my name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is snehamy name is sneha

In [9]:
#indexing
a='my name is sneha'
b='i am from madikonda'
c='i pursued my btech in ku'
d='(6.8)'
e='CGPA'
f=a[3]
g=b[-5]
h=c[6]
i=d[-2]
j=e[2]
print(f)
print(g)
print(h)
print(i)
print(j)

n
k
u
8
P

In [16]:
#slicing
a='my name is sneha'
b='i am from madikonda'
c='i pursued my btech in ku'
d='(6.8)'
e='CGPA'
f=a[3:9]
g=b[-9:]
h=c[13:19]
i=d[-2:-1]
j=e[2:7]
print(f)
print(g)
print(h)
print(i)
print(j)

name i
madikonda
btech
8
PA

##python format strings

In [16]:
#%operant
a="home"
place="hyderabad"
_1=2
_2=4
_3=1475
p_f_s="python_format_strings"
_4=491.6
f_s1='iam coming to %s in %d days'%(a,_1)
f_s2='%s are %d types '%(p_f_s,_2)
f_s3='total bill is %d each one have to pay %f'%(_3,_4)
print(f_s1)
print(f_s2)
print(f_s3)

iam coming to home in 2 days
python_format_strings are 4 types
total bill is 1475 each one have to pay 491.600000

In [17]:
#format method{}
f_m='welcome to {}.it is nearly {} years to see you'.format(place,_2)
f_m1='iam coming to {} in {} days'.format(a,_1)
f_m2='{} are {} types '.format(p_f_s,_2)
print(f_m)
print(f_m1)
print(f_m2)

welcome to hyderabad.it is nearly 4 years to see you
iam coming to home in 2 days
python_format_strings are 4 types

In [18]:
#string interpolation(f_strings)

f_strings=f"welcome to {place}.it is nearly {_2} years to see you."
f_strings1=f'iam coming to {a} in {_1} days'
f_strings2=f'{p_f_s} are {_2} types '
print(f_strings)
print(f_strings1)
print(f_strings2)

welcome to hyderabad.it is nearly 4 years to see you.
iam coming to home in 2 days
python_format_strings are 4 types

##strings methods

In [35]:
a='my name is sneha'
b='i am from madikonda'
c='i pursued my btech in ku'
d='(6.8)'
e='CGPA'
g='h\ta\ti'
f="sneha","sindhu"
_1=len(a)       #len(length of a string)
_2=a.upper()    #upper case (converts to upper value)
_3=e.lower()     #loweer case (converts to lower value)
_4=c.title()     #title(converts starting letter to capital)
_5=d.center(9)     #center(return the string to center)
_6=b.count('a')    #count(returns specified value of count )
_7=a.encode()    #encode(returns encoded version of a string)
_8=c.endswith('ku')    #returnd true if ends with specified value
_9=d.expandtabs(5)     #set the tab size of a string
_10=a.find('sneha')     #find/inser find the position
_11=c.index('ku')
_12=c.format(i=9)      #format specified values
_13=c.isalnum()      #returns true if all are alpha numeric
_14=a.isalpha()     #returns true if string is alphabet
_15=d.isdecimal()    ##returns true if string is decimal
_16=d.isdigit()       #returns true if string is digit
_17=c.isidentifier()    #returns true if string is identifier
_18=a.islower()      #returns true if string is identifier
_19=d.isnumeric()     #returns true if string is numeric
_20=c.isprintable()    #returns true if string is printable
_21=e.isspace()      #returns true if string is whitespaces
_22=c.istitle()    #returns true if string is title
_23=b.isupper()    #returns true if string is upper
_24='/'.join('f')    #converts elements to iterable into a string
_25=d.ljust(5)    #returns a left justified version
_26=a.partition('name') #parted into three parts
_27=c.replace('btech','btech_cse')    #replaced with a specified value
_28=d.split()    #split the list into list
_29=','.join(f)   #joins to single string
print(_1)
print(_2)
print(_3)
print(_4)
print(_5)
print(_6)
print(_7)
print(_8)
print(_9)
print(_10)
print(_11)
print(_12)
print(_13)
print(_14)
print(_15)
print(_16)
print(_17)
print(_18)
print(_19)
print(_20)
print(_21)
print(_22)
print(_23)
print(_24)
print(_25,"CGPA")
print(_26)
print(_27)
print(_28)
print(_29)

16
MY NAME IS SNEHA
cgpa
I Pursued My Btech In Ku
  (6.8)
3
b'my name is sneha'
True
(6.8)
11
22
i pursued my btech in ku
False
False
False
False
False
True
False
True
False
False
False
f
(6.8) CGPA
('my ', 'name', ' is sneha')
i pursued my btech_cse in ku
['(6.8)']
sneha,sindhu

#python tuples

##creating tuple

In [1]:
vegetables=('potato','brinjal','tomato')
fruits=('grapes','orange','banana','apple','mango')
datatypes=("list","tuple","string","set","dictonary")
digits=(1,2,3,4,5,6,7,8,9,0)
names=('sneha','swetha','lavanya')
print(vegetables)
print(fruits)
print(datatypes)
print(digits)
print(names)
print(type(vegetables))
print(type(fruits))
print(type(datatypes))
print(type(digits))
print(type(names))

('potato', 'brinjal', 'tomato')
('grapes', 'orange', 'banana', 'apple', 'mango')
('list', 'tuple', 'string', 'set', 'dictonary')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
('sneha', 'swetha', 'lavanya')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

##accesing tuple

In [4]:
vegetables=('potato','brinjal','tomato')
fruits=('grapes','orange','banana','apple','mango')
datatypes=("list","tuple","string","set","dictonary")
digits=(1,2,3,4,5,6,7,8,9,0)
names=('sneha','swetha','lavanya')
                      #indexing
print(vegetables[2])
print(fruits[-2])
print(datatypes[4])
print(digits[9])
print(names[0])
print('.................')
                  #slicing
print(vegetables[2:3])
print(fruits[-2:])
print(datatypes[3:4])
print(digits[6:9])
print(names[0:2])

tomato
apple
dictonary
0
sneha
.................
('tomato',)
('apple', 'mango')
('set',)
(7, 8, 9)
('sneha', 'swetha')

##immutability

In [5]:
datatypes=("list","tuple","string","set","dictonary")
digits=(1,2,3,4,5,6,7,8,9,0)
names=('sneha','swetha','lavanya')
datatypes[set]='list'

TypeError: 'tuple' object does not support item assignment

##tuple operations

In [7]:
                     #concatination
vegetables=('potato','brinjal','tomato')
fruits=('grapes','orange','banana','apple','mango')
datatypes=("list","tuple","string","set","dictonary")
digits=(1,2,3,4,5,6,7,8,9,0)
names=('sneha','swetha','lavanya')
a=vegetables+fruits
b=fruits+datatypes
c=datatypes+names
d=digits+names
e=fruits+digits
print(a)
print(b)
print(c)
print(d)
print(e)

('potato', 'brinjal', 'tomato', 'grapes', 'orange', 'banana', 'apple', 'mango')
('grapes', 'orange', 'banana', 'apple', 'mango', 'list', 'tuple', 'string', 'set', 'dictonary')
('list', 'tuple', 'string', 'set', 'dictonary', 'sneha', 'swetha', 'lavanya')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 'sneha', 'swetha', 'lavanya')
('grapes', 'orange', 'banana', 'apple', 'mango', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [8]:
#repetition
vegetables=('potato','brinjal','tomato')
fruits=('grapes','orange','banana','apple','mango')
datatypes=("list","tuple","string","set","dictonary")
digits=(1,2,3,4,5,6,7,8,9,0)
names=('sneha','swetha','lavanya')
a=vegetables*3
b=fruits*2
c=datatypes*5
d=digits*1
e=names*2
print(a)
print(b)
print(c)
print(d)
print(e)

('potato', 'brinjal', 'tomato', 'potato', 'brinjal', 'tomato', 'potato', 'brinjal', 'tomato')
('grapes', 'orange', 'banana', 'apple', 'mango', 'grapes', 'orange', 'banana', 'apple', 'mango')
('list', 'tuple', 'string', 'set', 'dictonary', 'list', 'tuple', 'string', 'set', 'dictonary', 'list', 'tuple', 'string', 'set', 'dictonary', 'list', 'tuple', 'string', 'set', 'dictonary', 'list', 'tuple', 'string', 'set', 'dictonary')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
('sneha', 'swetha', 'lavanya', 'sneha', 'swetha', 'lavanya')

##tuple methods

In [13]:
#count()
vegetables=('potato','brinjal','tomato','potato')
fruits=('grapes','orange','banana','apple','mango',"grapes","orange","grapes")
datatypes=("list","tuple","string","set","dictonary","list","list")
digits=(1,2,3,4,5,6,7,8,9,0,4,5,7,4,2,4)
names=('sneha','swetha','lavanya','swetha')
a=vegetables.count('potato')
b=fruits.count('grapes')
c=datatypes.count('list')
d=digits.count(4)
e=names.count('swetha')
print(a)
print(b)
print(c)
print(d)
print(e)

2
3
3
4
2

In [14]:
#index()
vegetables=('potato','brinjal','tomato','potato')
fruits=('grapes','orange','banana','apple','mango',"grapes","orange","grapes")
datatypes=("list","tuple","string","set","dictonary","list","list")
digits=(1,2,3,4,5,6,7,8,9,0,4,5,7,4,2,4)
names=('sneha','swetha','lavanya','swetha')
a=vegetables.index('potato')
b=fruits.index('grapes')
c=datatypes.index('list')
d=digits.index(4)
e=names.index('swetha')
print(a)
print(b)
print(c)
print(d)
print(e)

0
0
0
3
1