#condition statement

##if condition

In [1]:
a=32
b=43
c=95                   #if statement
d=-37
e=-5
if a>0:
  print('number is positive')
if b<0:
  print('number is positive')   #skipped bcz false statement
if c>0:
  print('number is positive')
if d<0:
  print('number is negative')
if e<0:
  print('number is negative')

number is positive
number is positive
number is negative
number is negative

##else condition

In [3]:
a=32
b=43
c=-15
d=-37
e=-5
if a>0:
  print('number is positive')
else:
  print('number is negative')
if b<0:
  print('number is positive')
else:
  print('number is negative')
if c>0:
  print('number is positive')
else:
  print('number is negative')
if d<0:
  print('number is negative')
else:
  print('number is positive')
if e>0:
  print('number is negative')
else:
  print('number is positive')

number is positive
number is negative
number is negative
number is negative
number is positive

##elif condition

In [4]:
a=32
b=43
c=0
d=-37
e=-5
if a>0:
  print('number is positive')
elif a<0:
  print('number is negative')
else:
  print('zero')
if b<0:
  print('number is positive')
elif b>0:
  print('number is negative')
else:
  print('zero')
if c>0:
  print('number is positive')
elif c<0:
  print('number is negative')
else:
  print('zero')
if d<0:
  print('number is negative')
elif d>0:
  print('number is positive')
else:
  print('zero')
if e>0:
  print('number is negative')
elif e<0:
  print('number is positive')
else:
  print('zero')

number is positive
number is negative
zero
number is negative
number is positive

#loop statements

##while loop

In [11]:
i=1
while i<=4:
   print(i)
   i=i+1

1
2
3
4

In [12]:
j=2
while j<=15:
  print(j)
  j=j+2

2
4
6
8
10
12
14

In [16]:
k=5
while k<=14:
 print(k)
 k=k+3

5
8
11
14

In [18]:
l=2
while l<=8:
  print(l)
  l+=1

2
3
4
5
6
7
8

##for loop

In [19]:
name='sneha'
for x in name:
  print(x)

s
n
e
h
a

In [21]:
profile={'name:sneha','age:22','gender:female','qulaification:btech'}
for data in profile:
  print(data)

name:sneha
age:22
qulaification:btech
gender:female

In [23]:
pets=['dog','rabbit','hen','cock','pigeon']
for pet in pets:
  print(pet)

dog
rabbit
hen
cock
pigeon

In [24]:
digits={1,2,3,4,5,6,7,8}
for digit in digits:
  print(digit)

1
2
3
4
5
6
7
8

In [25]:
family=('ravinder','latha','sneha','sindhu')
for name in family:
  print(name)

ravinder
latha
sneha
sindhu

#control statements

##pass

In [28]:
for i in range(5):
  if i==3:        #no action
    pass
  else:
    print(i)

0
1
2
4

In [51]:
data=input('enter your data: ')
profile={'name:sneha','age:22','gender:female','qulaification:btech'}
for data in profile:
  if (data=='age:22'):
     print('true')
     pass
  else:
    print('false')

enter your data: age:22
false
true
false
false

In [46]:
fruits=['apple','banana','mango','grapes']
for fruit in fruits:
  if fruit=='banana':
    print('true')
  else:
    print('false')

false
true
false
false

##break

In [50]:
for i in range(9):
  if i==5:        #exit a loop
    break
  print(i)

0
1
2
3
4

In [69]:
profile={'name:sneha','age:22','gender:female','qulaification:btech'}
for data in profile:
  if data=='gender:female':
    break
  print(data)

name:sneha
age:22
qulaification:btech

In [75]:
 fruits=['apple','banana','mango','grapes']
for fruit in fruits:
  if fruit=='mango':
    break
  print(fruit)

apple
banana

##continue

In [78]:
for i in range(7):
  if i==4:        #skip the current itteration
    continue
  else:
    print(i)

0
1
2
3
5
6

In [79]:
profile={'name:sneha','age:22','gender:female','qulaification:btech'}
for data in profile:
  if data=='gender:female':
    continue
  else:
    print(data)

name:sneha
age:22
qulaification:btech

In [80]:
fruits=['apple','banana','mango','grapes']
for fruit in fruits:
  if fruit=='apple':
    continue
  else:
     print(fruit)

banana
mango
grapes

#functions

#standard function

In [84]:
import math
a=math.sqrt(64)
b=math.pow(3,3)
c=math.sqrt(36)
d=math.pow(6,5)
e=math.pow(2,4)
print('square root of 64 is',a)
print('3 to the powerof 3',b)
print('square root of 36 is',c)
print('6 to the powerof 5',d)
print('2 to the powerof 4',e)

square root of 64 is 8.0
3 to the powerof 3 27.0
square root of 36 is 6.0
6 to the powerof 5 7776.0
2 to the powerof 4 16.0

##user defined function

In [86]:
def a(name):
  print(f'hi,{name}!')   #calling function
a('sneha')

hi,sneha!

In [87]:
def profile(name,age,qualification):   #no.of arguements
  print(f'my name is {name},iam {age} years old,i pursued {qualification}')
profile('sneha','22','btech')

my name is sneha,iam 22 years old,i pursued btech

In [101]:
def address(_1,_2,_3):
  print(f'village:{_1},mandal:{_2},district:{_3}')  #return stmt
  return
address('madikonda','kazipet','warangal')

village:madikonda,mandal:kazipet,district:warangal

##lambda function

In [105]:
x=lambda a:a+50   #no.of arguements 1 expression
y=lambda p,q:p+50-q
z=lambda a,b,c:a*2+b-c
print(x(4))
print(y(34,43))
print(z(23,76,45))

54
41
77

In [106]:
def func(n):
  return lambda a:a*n
mult=func(3)
print(mult(7))

21

#global variables & local variables

In [121]:
#local variable
def f(data):
  a='my name is sneha'
  b='iam 22 yrs old'
  c='i am from madikonda'
  d='pursued btech'
  print(a)
  print(b)     #only inside
  print(c)
  print(d)
f(data)

my name is sneha
iam 22 yrs old
i am from madikonda
pursued btech

In [125]:
#global variable
a='my name is sneha'
b='iam 22 yrs old'
c='i am from madikonda'
d='pursued btech'
def f(data):
  print(a)   #inside
  print(b)
f(data)
print(c)     #outside
print(d)

my name is sneha
iam 22 yrs old
i am from madikonda
pursued btech